<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/base.css">

        <title>Hola!</title>
    </head>

    <body>
        <!-- NavBar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="flex_navbar">

                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">Ask Pupkin</a>
                
                <!-- Search form -->
                <form class="form-inline my-1 my-sm-0">
                    <input class="form-control mr-sm-2" style="flex: 1 !important" type="text" placeholder="Search">
                    <button class="btn btn-success my-2 my-sm-2" type="submit">ASK!</button>
                </form>
            
                <!-- Register / login -->
                <ul class="navbar-nav flex-row-reverse ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>          
                    </li>
                </ul>

            </div>
        </nav>

        <div class="wrapper">
            <article class="main_column">
                <!-- -----------------------------------------QUESTIONS---------------------------------------- -->
                <!-- Header of page -->
                <div style="display: inline-block"> 
                    <h3>New Questions</h3>
                </div>
                <div style="display: inline-block; margin-left: 5%">
                    <a class="u_text" href="#">Hot Questions</a>
                </div>

                <!-- Main part -->

                <div class="quest_box shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="left_col">
                        <div class="left_top">
                            <!-- картинка -->
                            <p style="text-align: center;">
                                <img src="../../img/Thrall-WC3.jpg" alt="ava" width="25%">
                            </p>
                        </div>
                        <div class="left_bot">
                            лайки
                        </div>
                    </div>
                    <div class="right_col">
                        <div class="right_top">
                            <a class="u_text-20" href="#">How to build a moon park?</a>
                            <div class="mx-auto">
                                <p class="font-weight-light" style="font-size: 14px">
                                    Guys, i have trouble with a moon park. Can't find th black-jack...
                                </p>
                                <br>
                            </div>
                        </div>

                        <div class="right_bot">
                            <div class="mx-auto">
                                <div style="display: inline-block; flex: 20%">
                                    <a class="u_text-14" href="#">answer (3)</a>
                                </div>
                                <div style="display: inline-block; flex: 80%;">
                                    <a>Tags:</a>
                                    <a class="u_text-14" href="#">black-jack</a>
                                    <a class="u_text-14" href="#">bender</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------------------------------/QUESTIONS---------------------------------------- -->
                <br>
            </article>

            <aside class="side_bar">
                <!-- Right column with popular tags -->
                <div>
                    <h3>Popular Tags</h3>
                    <a class="norm_tag" href="#">perl</a>
                    <a class="top_tag" href="#">python</a>
                    <a class="norm_tag" href="#">TechoPark</a>
                    <a class="top_tag" href="#">MySQL</a>
                    <a class="popular_tag" href="#">django</a>
                    <a class="norm_tag" href="#">Mail.ru</a>
                    <a class="norm_tag" href="#">Voloshin</a>
                    <a class="orange_tag" href="#">Firefox</a>
                </div>

                <br>

                <!-- Members -->
                <div>
                    <h3>Best Members</h3>
                    <p class="mem_links"><a href="#">Mr.Freeman</a></p>
                    <p class="mem_links"><a href="#">Mr.House</a></p>
                    <p class="mem_links"><a href="#">Bender</a></p>
                    <p class="mem_links"><a href="#">V.Pupkin</a></p>
                    <p class="mem_links"><a href="#">P.Technick</a></p>
                </div>
            </aside>
        </div>
        <footer class="footer">Footer</footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        
        <!-- Form validation -->
        <script>
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // console.log(forms);  // search value
                    
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            }.bind(this))();
        </script>
    </body>
</html>