{% extends 'base.html' %}

{% load static %}

{% block title %}
    AskPupkin - where code doesn't work
{% endblock %}

{% block main %}
    <!-- -----------------------------------------QUESTIONS---------------------------------------- -->
    <!-- Header of page -->
    <div style="display: inline-block">
        <h3>New Questions</h3>
    </div>
    <div style="display: inline-block; margin-left: 5%">
        <a class="u_text" href="#">Hot Questions</a>
    </div>

    <!-- Main part -->

    <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src={% static 'img/Thrall-WC3.jpg' %} alt=ava width="40%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                лайки
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->
                <a class="u_text-20" href="#">How to build a moon park?</a>
                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        Guys, i have trouble with a moon park. Can't find th black-jack...
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- количество респонсов -->
                    <div style="display: inline-block; flex: 20%">
                        <a class="u_text-14" href="#">answer (3)</a>
                    </div>
                    <!-- теги -->
                    <div style="display: inline-block; flex: 80%;">
                        <a>Tags:</a>
                        <a class="u_text-14" href="#">black-jack</a>
                        <a class="u_text-14" href="#">bender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- just a few copies -->
    <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src={% static 'img/Thrall-WC3.jpg' %} alt=ava width="40%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                лайки
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->
                <a class="u_text-20" href="#">How to build a moon park?</a>
                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        Guys, i have trouble with a moon park. Can't find th black-jack...
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- количество респонсов -->
                    <div style="display: inline-block; flex: 20%">
                        <a class="u_text-14" href="#">answer (3)</a>
                    </div>
                    <!-- теги -->
                    <div style="display: inline-block; flex: 80%;">
                        <a>Tags:</a>
                        <a class="u_text-14" href="#">black-jack</a>
                        <a class="u_text-14" href="#">bender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src={% static 'img/Thrall-WC3.jpg' %} alt=ava width="40%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                лайки
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->
                <a class="u_text-20" href="#">How to build a moon park?</a>
                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        Guys, i have trouble with a moon park. Can't find th black-jack...
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- количество респонсов -->
                    <div style="display: inline-block; flex: 20%">
                        <a class="u_text-14" href="#">answer (3)</a>
                    </div>
                    <!-- теги -->
                    <div style="display: inline-block; flex: 80%;">
                        <a>Tags:</a>
                        <a class="u_text-14" href="#">black-jack</a>
                        <a class="u_text-14" href="#">bender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <br>
    <!-- paginator -->
    <div style="margin-left: 5%;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">53</a></li>
            </ul>
        </nav>
    </div>
    <!-- ----------------------------------------/QUESTIONS---------------------------------------- -->

{% endblock %}