{% extends 'base.html' %}

{% load static %}

{% block title %}
    AskPupkin - where code doesn't work
{% endblock %}

{% block main %}
    <!-- -----------------------------------------QUESTIONS---------------------------------------- -->
    <!-- Header of page -->

    {% if title == 'new' %}
        <div style="display: inline-block">
            <h3>New Questions</h3>
        </div>
        <div style="display: inline-block; margin-left: 5%">
            <a class="u_text" href="{% url 'hot' %}">Hot Questions</a>
        </div>
    {% elif title == 'hot' %}
        <div style="display: inline-block">
            <h3>Hot Questions</h3>
        </div>
        <div style="display: inline-block; margin-left: 5%">
            <a class="u_text" href="{% url 'home' %}">New Questions</a>
        </div>
    {% elif title == 'tag'%}
        <div style="display: inline-block">
        <h3>Tag: {{ tag_sort }}</h3>
    </div>
    {% endif %}

    <!-- Main part -->
    {% for question in questions %}
        <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
            <div class="left_col">
                <div class="left_top">
                    <!-- картинка -->
                    <p style="text-align: center;">
                        <img src={% static 'img/Thrall-WC3.jpg' %} alt=ava width="40%">
                    </p>
                </div>
                <div class="left_bot">
                    <!-- лайки -->
                    лайки
                </div>
            </div>
            <div class="right_col">
                <div class="right_top">
                    <!-- question -->
                    <a class="u_text-20" href="{% url 'question' question_id=question.id %}">{{ question.title }}</a>
                    <div class="mx-auto">
                        <!-- описание вопроса -->
                        <p class="font-weight-light" style="font-size: 14px">
                            {{ question.text }}
                        </p>
                        <br>
                    </div>
                </div>

                <div class="right_bot">
                    <div class="mx-auto">
                        <!-- количество респонсов -->
                        <div style="display: inline-block; flex: 20%">
                            <a class="u_text-14" href="#">answer (3)</a>
                        </div>
                        <!-- теги -->
                        <div style="display: inline-block; flex: 80%;">
                            <a>Tags:</a>
                            {% for tag in question.tags %}
                                <a class="u_text-14" href="{% url 'tag_sort' tag_sort=tag.tag %}">{{ tag.tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <br>
    <!-- paginator -->
    {% include 'paginator.html' with objects=questions %}
    <!-- ----------------------------------------/QUESTIONS---------------------------------------- -->

{% endblock %}