{% extends 'base.html' %}

{% load static %}

{% block title %}
    Get ready to drive people crazy
{% endblock %}

{% block main %}
    <!-- -----------------------------------------LOGIN---------------------------------------- -->
    <!-- Header of page -->
    <h3>Log In</h3>

    <!-- Main part -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for f in form.visible_fields %}
            <div class="form-group row">
                <label for="{{ f.name }}" class="col-sm-2 col-form-label" style="padding-left: 7%">{{ f.label }}</label>
                <div class="col-sm-3">
                    {{ f }}
                </div>
            </div>
        {% endfor %}

        <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 17%">Log in!</button>
        <p class="register_login"><a href="{% url 'signup' %}">create new account</a></p>

        {% for error in form.non_field_errors %}
            <div class="askme__login-error col-lg-5 col-lg-offset-3" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </form>
    <!-- ----------------------------------------/LOGIN---------------------------------------- -->
{% endblock %}