{% extends 'base.html' %}

{% load static %}

{% block title %}
    Question with id = ?
{% endblock %}

{% block main %}
    <!-- -----------------------------------------QUESTION---------------------------------------- -->
    <!-- Header of page -->
    <div style="display: inline-block">
        <h3>New Questions</h3>
    </div>
    <div style="display: inline-block; margin-left: 5%">
        <a class="u_text" href="#">Hot Questions</a>
    </div>

    <!-- Main part -->

    <div class="quest_box">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p>
                    <img src={% static 'img/Thrall-WC3.jpg' %} alt=ava width="50%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                <div class="Stars">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->
                <a class="u_text-20" href="#">How to build a moon park?</a>
                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        «Вот как? И вы думаете, я этому поверю, салага? Вот она правда: вы допустили потерю дорогостоящего обмундирования. Его стоимость будет вычтена из вашего жалованья, и вы будете служить, пока вам не исполнится пятьсот десять лет, потому что вам понадобится именно столько лет, чтобы оплатить комплект Силовой боевой брони модель II, который вы потеряли! Доложите об этом в арсенале, получите новый комплект, а потом вернитесь и доложите мне, рядовой! Свободны!»
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- теги -->
                    <div style="display: inline-block; flex: 80%;">
                        <a>Tags:</a>
                        <a class="u_text-14" href="#">black-jack</a>
                        <a class="u_text-14" href="#">bender</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- ----------------------------------------/QUESTION---------------------------------------- -->
    <!-- ----------------------------------------RESPONSES---------------------------------------- -->
    <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src={% static 'img/dornan.png' %} alt=ava width="50%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                <div class="Stars">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->

                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        «Если ты мне понравишься, можешь звать меня „серж“. Но знаешь что? Ты мне не нравишься! Понятно?»
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- correct? -->
                    <div style="display: inline-block; flex: 80%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Correct!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src={% static 'img/dornan.png' %} alt=ava width="50%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                <div class="Stars">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->

                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        «Рядовой, вы все ещё без формы. Я дал вам прямой приказ пойти и получить обмундирование. А ну прочь с глаз моих, и не сметь показываться, пока не будете выглядеть как солдат, а не как чучело огородное!»
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- correct? -->
                    <div style="display: inline-block; flex: 80%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Correct!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src={% static 'img/dornan.png' %} alt=ava width="50%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                <div class="Stars">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->

                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        И-ди-от, не сметь обсуждать приказы начальства! Скажу прыгать, будешь прыгать! Скажу драться, будешь драться! Скажу умереть за Родину, умрёшь без разговоров! Я ясно излагаю?
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- correct? -->
                    <div style="display: inline-block; flex: 80%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Correct!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------/RESPONSES---------------------------------------- -->

    <hr>
    <!-- ----------------------------------------ur RESPONSE---------------------------------------- -->
    <form class="needs-validation" novalidate id="question_form">
        <div class="form-group row" >
            <div class="col-sm-8 mx-auto">
                <textarea class="form-control" rows="5" id="text_input" name="text_input" placeholder="Enter ur answer here" minlength="5", maxlength="250" required></textarea>

                <!-- div's with valid's out -->
                <div class="valid-feedback">
                    OK!
                </div>
                <div class="invalid-feedback">
                    Please provide valid text, minlength = 5, maxlength = 250
                </div>

            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 17%">Answer</button>

    </form>
    <br>
    <!-- ----------------------------------------/ur RESPONSE---------------------------------------- -->
{% endblock %}