{% extends 'base.html' %}

{% load static %}

{% block title %}
    Question with id = ?
{% endblock %}

{% block main %}
    <!-- -----------------------------------------QUESTION---------------------------------------- -->

    <!-- Main part -->

    <div class="quest_box">
        <div class="left_col">
            <div class="left_top">
                <!-- картинка -->
                <p style="text-align: center;">
                    <img src="/static/{{ questions.author.profile.user_img }}" alt="{{ questions.author.profile.user_img.url }}" width="80%">
                </p>
            </div>
            <div class="left_bot">
                <!-- лайки -->
                <div class="likes">
                    <div style="margin-right: 5%">
                        <i class="far fa-thumbs-down" style="margin-right: 2% !important;"></i>
                    </div>
                    <div>
                        <b>{{ questions.likes }}</b>
                    </div>
                    <div style="margin-left: 5%">
                        <i class="far fa-thumbs-up" style="margin-left: 2% !important;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col">
            <div class="right_top">
                <!-- question -->
                <a class="u_text-20">{{ questions.title }}</a>
                <div class="mx-auto">
                    <!-- описание вопроса -->
                    <p class="font-weight-light" style="font-size: 14px">
                        {{ questions.text }}
                    </p>
                    <br>
                </div>
            </div>

            <div class="right_bot">
                <div class="mx-auto">
                    <!-- теги -->
                    <div style="display: inline-block; flex: 80%;">
                        <a>Tags:</a>
                        {% for tag in questions.tags.all %}
                            {% if not forloop.first %}, {% endif %}
                            <a href="{% url 'tag_sort' tag_sort=tag.title %}">{{ tag.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- ----------------------------------------/QUESTION---------------------------------------- -->
    <!-- ----------------------------------------RESPONSES---------------------------------------- -->
    {% for response in responses %}
        <div class="quest_box gray shadow-lg p-3 mb-5 bg-white rounded">
            <div class="left_col">
                <div class="left_top">
                    <!-- картинка -->
                    <p style="text-align: center;">
                    <img src="/static/{{ response.author.profile.user_img }}" alt="{{ response.author.profile.user_img.url }}" width="50%">
                </p>
                </div>
                <div class="left_bot">
                    <!-- лайки -->
                    <div class="likes">
                        <div style="margin-right: 5%">
                            <i class="far fa-thumbs-down" style="margin-right: 2% !important;"></i>
                        </div>
                        <div>
                            <b>{{ response.likes }}</b>
                        </div>
                        <div style="margin-left: 5%">
                            <i class="far fa-thumbs-up" style="margin-left: 2% !important;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_col">
                <div class="right_top">
                    <!-- question -->

                    <div class="mx-auto">
                        <!-- описание вопроса -->
                        <p class="font-weight-light" style="font-size: 14px">
                            {{ response.text }}
                        </p>
                        <br>
                    </div>
                </div>

                <div class="right_bot">
                    <div class="mx-auto">
                        <!-- correct? -->
                        <div style="display: inline-block; flex: 80%;">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" {% if response.correct %}checked{% endif %}
                                       type="checkbox" id="inlineCheckbox1" value="correct_answer">
                                <label class="form-check-label" for="inlineCheckbox1">Correct!</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- ----------------------------------------/RESPONSES---------------------------------------- -->

    <hr>
    <br>
    <!-- paginator -->
    {% include 'paginator.html' with objects=responses %}
    <!-- ----------------------------------------ur RESPONSE---------------------------------------- -->
    <form class="needs-validation" novalidate id="question_form">
        <div class="form-group row" >
            <div class="col-sm-8 mx-auto">
                <textarea class="form-control" rows="5" id="text_input" name="text_input" placeholder="Enter ur answer here" minlength="5", maxlength="250" required></textarea>

                <!-- div's with valid's out -->
                <div class="valid-feedback">
                    OK!
                </div>
                <div class="invalid-feedback">
                    Please provide valid text, minlength = 5, maxlength = 250
                </div>

            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 17%">Answer</button>

    </form>
    <br>

    <!-- ----------------------------------------/ur RESPONSE---------------------------------------- -->
{% endblock %}