{% extends 'base.html' %}

{% load static %}

{% block title %}
    Signup to piss off people
{% endblock %}

{% block main %}
<!-- -----------------------------------------REGISTER---------------------------------------- -->
    <!-- Header of page -->
    <h3>Registration</h3>

    <!-- Main part -->
    <form method="POST" enctype="multipart/form-data" class="needs-validation">
        {% csrf_token %}

        {% if form.subject.errors %}
            <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}

        {% for f in form.visible_fields %}
        <div class="form-group row">
            <label for="{{ f.name }}" class="col-sm-3 col-form-label" style="padding-left: 7%">{{ f.label }}</label>
            <div class="col-sm-3">
                {{ f }}
            </div>

            {% for e in f.errors %}
                <span class="form-error-text">{{ e }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 25.8%">Register!</button>
    </form>
    <!-- ----------------------------------------/REGISTER---------------------------------------- -->
{% endblock %}