{% extends 'base_log.html' %}

{% load static %}

{% block title %}
    AskPupkin - where code doesn't work
{% endblock %}

{% block main %}
    <!-- -----------------------------------------OPTIONS---------------------------------------- -->
    <!-- Header of page -->
    <h3>Settings: Go'el</h3>

    <!-- Main part -->
    <form class="needs-validation" novalidate id="register_form">
        <div class="form-group row">
            <label for="title_input" class="col-sm-3 col-form-label" style="padding-left: 7%">Login</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="login_input" name="login_input" placeholder="dr_pepper" required>

                <!-- div's with valid's out -->
                <div class="invalid-feedback">
                    Login required
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="email_input" class="col-sm-3 col-form-label" style="padding-left: 7%">Email</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="email_input" placeholder="dr.pepper@mail.ru" required>
            </div>

            <!-- div's with valid's out -->
            <div class="invalid-feedback">
                Email required
            </div>

        </div>

        <div class="form-group row">
            <label for="nick_input" class="col-sm-3 col-form-label" style="padding-left: 7%">NickName</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="nick_input" name="nick_input" placeholder="Dr. Pepper" required>

                <!-- div's with valid's out -->
                <div class="invalid-feedback">
                    Nick is required
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="avatar_input" class="col-sm-3 col-form-label" style="padding-left: 7%">Upload avatar</label>

            <div class="col-sm-3 custom-file" style="margin-left: 1.5%;">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">c:\avatar.jpg</label>
            </div>
        </div>
        <div style="margin-left: 25.8%;">
            <p><img src="{% static 'usr_img/alove.png' %}" alt="ava"></p>
        </div>
        <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 25.8%">Save!</button>

    </form>
    <!-- ----------------------------------------/OPTIONS---------------------------------------- -->
    <br>
{% endblock %}